*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  --accent-color: #fff;
  --gradient-color: #FBFBFB;
}
body {
    display: flex;
  flex-direction: column;
  
}

.sidebar {
    display: block;
    position: absolute;
    background-image: linear-gradient(45deg, #e0fff7 20%, #ffffff 80%);
   
    width: 285px;
    left: 0;
    height: 100%;
    background-color: #fff;
    transition: all .5s ease;
    box-shadow: 0 3px 25px rgb(0 0 0 / 16%);
    z-index: 15;
}
.nav-wrapper{
  
  justify-content: center;
  align-items: center;
  width: 285px;
  height:100vh;
  
}

.sidebarWrap {
  padding: 8px 15px;
}

.sidebar header{
  padding: 0;
  font-size: 28px;
  color: #353535;
  line-height: 45px;
  text-align: center;
  background-color: #e0fff7;
  user-select: none;
  font-family: 'Lato', sans-serif;
  position: relative;
top: -54px;
    height: 68px;
}
.sidebar li {
    display: block;
    height: 64px;
    width: 100%;
    line-height: 65px;
    box-sizing: border-box;
    transition: all .5s ease;
    font-weight: 500;
}
li.active,li:hover{
  padding-left:21px;
  font-size: 14px;
  
  color: rgb(167, 233, 233);
   
}
.bl.active, .bl:hover {
  font-size: 15px;
  padding-left:21px;
 
  color: rgb(167, 233, 233);
  transition: all .5s ease;
  
}
li{
  font-size: 23px;
  margin-right: 16px;
}
span{
    font-size: 23px;
  margin-right: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}

label #btn, label #cancel {
    position: absolute;
    left: 252px;
    top: 202px;
    cursor: pointer;
    color: #f1eff4;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 25px;
    background-color: #d9e9fc91;
    height: 44px;
    width: 41px;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(255 255 255 / 50%);
    line-height: 49px;
    transition: all .5s ease;
    border: 1px solid #80808014;
    z-index: 15;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: -500px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #btn {
    margin-left: -252px;
    opacity: 1;
    visibility: visible;
}
@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}

li ~ li {
    margin-top: -35px;
}

.sidebar > a.active,.sidebar > a:hover:nth-child(even) {
  --accent-color: #52d6f4;
  --gradient-color: #c1b1f7;
}
.sidebar a.active,.sidebar > a:hover:nth-child(odd) {
  --accent-color: #c1b1f7;
  --gradient-color: #A890FE;
}
 
h4{
   padding: 8px 15px;}

   .price{
     margin: 20px 10px;
   }

.rating {
  text-align: center;
    margin: 10px;
}

.rating svg{
   width:"40px";
   height:"40px";
   font-size: 25px;
}

.rating p{
   font-size: 12px;
}

.inp-pr {
    border: none;
    text-align: center;
    padding: 10px;
    margin: 13px;
    height: 40px;
    width: 88px;
    background: #e0fff78c;
}

.divider {
    position: absolute;
    right: 146px;
    height: 33px;
    top: 436px;
    width: 2px;
    background: rgba(0,0,0,.2);
    z-index: 2;
}

.sidebar h2, h4{
  color: rgb(123, 134, 155);
  font-size: 14px;
}
.bl{
  color:rgb(18, 69, 128);
  font-size: 14px;
}

.sidebar h2{
  font-size: 18px;
}

span.bl{
  font-size:10px;
}

.nav-btn-header {
    display: inline-flex;
    min-height: 16px;
    line-height: 14px;
    padding: 12px 21px 2px 21px;
    text-align: left;
   color: #fff;
    border-radius: 48px;
    transition: background .3s ease,color .3s ease,box-shadow .3s ease;
    margin: 3px;
    box-sizing: border-box;
    background: #3072AC;
    position: relative;
    font-size: 12px;
    width: 169px;
    height: 38px;
    top: 4px;
    border: none;
    text-transform: none;
    letter-spacing: 0;
}

.nav-btn-header:hover{
  background: #225888;
}

.nav-svg-map{
  opacity: 1;
  position: relative;
  right: -10px;
  top: -2px;
}