.leaflet-container {
    display: flex;
    flex-direction: row;
    width: 200%;
    height: 900px;
    position: relative;
    /* bottom: -16px; */
    right: 9px;
    top: 16px;
    z-index: 10;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: yellow;
}